div {
    display: flex;
}

.color-icon {
    justify-content: space-between;
}
.vertical {
    flex-direction: column;
}

.buttons {
    flex-direction: column;
    justify-content: center;
}

button {
    margin: 2.5px 5px;
}
