.mat-button-toggle {
    margin-left: 8px;
    margin-right: 8px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mat-button-toggle-checked {
    background-color: #686370;
    color: #ffffff;
    font-size: 15px;
}

.mat-button-toggle-group {
    border: none;
    border-radius: 4px;
    padding: 0px !important;
    margin-bottom: 10px;
}

.tab {
    width: 190px;
}

.textFormat {
    padding-left: 15px;
    padding-right: 15px;
}

.textFormatForSlider {
    padding-left: 8px;
    font-size: small;
}

.buttons {
    width: 150px !important;
}

.textFormatButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
}
