<mat-dialog-content>
    <section>
        <div mat-dialog-header>
            Size
        </div> 
        <br/>
        <div>
            <mat-slider 
                [(ngModel)]="lineWidthIn"
                thumbLabel
                [displayWith]="colorSliderLabel"
                min="this.lineSizeMin"
                max="this.lineSizeMax">
            </mat-slider>
        <br/>
            <mat-form-field>
                <mat-label>Manual size input</mat-label>
                <input matInput type="number" [(ngModel)]="lineWidthIn">
            </mat-form-field>
        </div> 
    </section>
</mat-dialog-content>
