$background: rgb(51, 51, 51);

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white {
    color: white;
}

#content {
    background-color: $background;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    padding: 24px;
    margin-bottom: 32px;
    border-radius: 12px;
}

#title {
    text-align: center;
}

.button {
    margin: 16px;
    font-size: 24px;
    padding: 12px 20px;
    display: inline-flex;
    border-radius: 12px;
}

#team {
    text-align: center;
    background-color: $background;
    border-radius: 12px;
}
