.tab {
    width: 190px;
}

.textFormat {
    padding-left: 15px;
    padding-right: 15px;
}

.textFormatForSlider {
    padding-left: 8px;
    font-size: small;
}

::ng-deep .mat-form-field {
    width: 100px;
}
