<div class="box-selection">

  <div class="magnetism-selection north west" #topLeft></div>
  <div class="magnetism-selection north xCenter" #top></div>
  <div class="magnetism-selection north east" #topRight></div>
  <div class="magnetism-selection west yCenter" #left></div>
  <div class="magnetism-selection xCenter yCenter" #center></div>
  <div class="magnetism-selection east yCenter" #right></div>
  <div class="magnetism-selection south west" #bottomLeft></div>
  <div class="magnetism-selection south xCenter" #bottom></div>
  <div class="magnetism-selection south east" #bottomRight></div>

</div>
