<div>{{pencilService.lineWidth}}
    <h5 class="textFormat">Configurations crayon</h5>
    <mat-divider></mat-divider>
    <h5 class="textFormat">Épaisseur</h5>
    <div class="textFormatForSlider">
    <mat-slider
        min="1"
        max="100"
        [(ngModel)]="pencilService.lineWidth"
        thumbLabel
        [displayWith]="colorSliderLabel">
    </mat-slider>
    </div>
    <mat-form-field class="textFormat">
        <input matInput 
            type="number"
            min="1" max="100" 
            [(ngModel)]="pencilService.lineWidth">
        <span matSuffix>px</span>
    </mat-form-field>
</div> 