div {
  margin: 1%;
  width: 98%;
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep mat-slider,
:host ::ng-deep .mat-slider-wrapper {
  width: 95%;
  margin: 2.5%;
  padding: 0;
}
