.textFormat {
  padding-left: 15px;
  padding-right: 15px;
}

.textFormatForSlider {
  padding-left: 8px;
  font-size: small;
}

::ng-deep .mat-form-field {
  width: 100px;
}

::ng-deep .mat-slider-wrapper {
  padding-left: 0px;
  width: 100px;
    .mat-slider-thumb-container {
      .mat-slider-thumb-label {
        width: 34px;
        height: 34px;
        top: -41px;
        right: -15px;
      }
    }
  }
