<div>
    <h5 class="textFormat">Configurations efface</h5>
    <mat-divider></mat-divider>
    <!--Epaisseur-->
    <h5 class="textFormat">Épaisseur</h5>
    <div class="textFormatForSlider">
        <!--[(ngModel)]="eraserService.width"-->
    <mat-slider
        min="1"
        max="100"
        thumbLabel
        [displayWith]="colorSliderLabel">
    </mat-slider>
    </div>
    <!--[(ngModel)]="eraserService.width">-->
    <mat-form-field class="textFormat">
        <input matInput 
            type="number"
            min="1" max="100">
        <span matSuffix>px</span>
    </mat-form-field>
</div> 