.primaryColor,
.secondaryColor {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
}

:host {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

h5 {
    margin: 5px 0px;
    line-height: normal;
}

.color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.colors {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.menuTrigger {
    position: absolute;
    top: 0;
    left: 100%;
}

button {
    margin: 5px;
}
