.parent {
    position: relative;
    background-color: transparent;
    margin: 10px 5px 10px 10px;
}

.primaryColor {
    position: absolute;
    border: 1px solid black;
    z-index: 2;
}

.secondaryColor {
    position: absolute;
    border: 1px solid black;
    z-index: 1;
    cursor: pointer;
}

mat-icon {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    margin: 10px 10px 10px 5px;
}

.menuTrigger {
    position: absolute;
    left: 100%;
    top: 0px;
}

:host {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
