<div class="parent">
    <div class="colorIcon">
        <div class="primaryColor" [style.background]="colorService.primaryColor.rgbString"></div>
        <div class="secondaryColor" [style.background]="colorService.secondaryColor.rgbString"></div>
    </div>
    <mat-icon (click)="swap()"> autorenew </mat-icon>
</div>
<button mat-raised-button (click)="openColorPicker()">Modifier</button>
<div class="menuTrigger" [matMenuTriggerFor]="ColorMenu"></div>
<mat-menu #ColorMenu>
    <app-color-picker (click)="$event.stopPropagation()" (closeMenuEvent)="closeMenu()"></app-color-picker>
</mat-menu>
