.container {
  overflow: visible;
  display: flex;
  background-color: lightgray;
  width: 5%;
}

.drawing-container {
    overflow: visible;
    flex: 1 1 auto;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}
