<div class="tab">
    <h5 class="textFormat sliderLabelFormat">Taille police</h5>
    <div class="textFormatForSlider">
        <mat-slider #sizeSlider id="slider" min="{{ MIN }}" max="{{ MAX }}" (input)="changeFontSize($event.value)" [(ngModel)]="currentFontSize">
        </mat-slider>
        {{ textService.config.fontSize }}px
    </div>
    <mat-button-toggle-group [multiple]="true" class="boldItalicButtons">
        <mat-button-toggle [checked]="textService.config.bold === true" class="boldButton" (click)="toggleBold()">B</mat-button-toggle>
        <mat-button-toggle [checked]="textService.config.italic === true" class="italicButton" (click)="toggleItalic()">I</mat-button-toggle>
    </mat-button-toggle-group>

    <h5 class="textFormat">Alignement</h5>
    <mat-button-toggle-group class="alignementGroup">
        <mat-button-toggle
            class="alignementButton"
            (click)="setAlignment(alignment.Left)"
            mat-icon-button
            [@.disabled]="true"
            [checked]="textService.config.alignmentSetting === alignment.Left"
        >
            <mat-icon svgIcon="textAlignLeft"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
            class="alignementButton"
            (click)="setAlignment(alignment.Center)"
            mat-icon-button
            [@.disabled]="true"
            [checked]="textService.config.alignmentSetting === alignment.Center"
        >
            <mat-icon svgIcon="textAlignCenter"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
            class="alignementButton"
            (click)="setAlignment(alignment.Right)"
            mat-icon-button
            [@.disabled]="true"
            [checked]="textService.config.alignmentSetting === alignment.Right"
        >
            <mat-icon svgIcon="textAlignRight"></mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <h5 class="textFormat">Police</h5>
    <mat-button-toggle-group [vertical]="true" value="Arial" class="policeGroup">
        <mat-button-toggle
            class="buttonArial policeButton"
            (click)="changeFont('Arial')"
            value="Arial"
            [checked]="textService.config.textFont === 'Arial'"
            >Arial</mat-button-toggle
        >
        <mat-button-toggle
            class="buttonTimes policeButton"
            (click)="changeFont('Times New Roman')"
            value="Times New Roman"
            [checked]="textService.config.textFont === 'Times New Roman'"
            >Times New Roman</mat-button-toggle
        >
        <mat-button-toggle
            class="buttonMonospace policeButton"
            (click)="changeFont('Monospace')"
            value="Monospace"
            [checked]="textService.config.textFont === 'Monospace'"
            >Monospace</mat-button-toggle
        >
        <mat-button-toggle
            class="buttonCreepster policeButton"
            (click)="changeFont('creepster')"
            value="Creepster"
            [checked]="textService.config.textFont === 'creepster'"
            >Creepster</mat-button-toggle
        >
        <mat-button-toggle
            class="buttonPressStart policeButton"
            (click)="changeFont('pressStart')"
            value="Press Start"
            [checked]="textService.config.textFont === 'pressStart'"
            >Press Start</mat-button-toggle
        >
    </mat-button-toggle-group>
</div>
