<div class="tab">
    <h5 class="textFormat">Taille police</h5>
      <div class="textFormatForSlider">
          <mat-slider #sizeSlider min="{{ MIN }}" max="{{ MAX }}" [(ngModel)]="textService.config.fontSize" thumbLabel [displayWith]="colorSliderLabel">
          </mat-slider>
          {{ textService.config.fontSize }}px
      </div>

      <div class="textFormatButton">
          <mat-button-toggle-group [multiple] = 'true'> <!--[checked]="textService.config.bold === true"--> <!--[checked]="textService.config.italic === true"-->
              <mat-button-toggle 
                  class="buttonGroup"
                  (click)="toggleBold()"
                  style="font-weight: bold;">B</mat-button-toggle>
              <mat-button-toggle
                  class="buttonGroup"
                  (click)="toggleItalic()"
                  style="font-style: italic; font-family: Georgia, 'Times New Roman', Times, serif;">I</mat-button-toggle>
          </mat-button-toggle-group>
      </div>
    
      <h5 class="textFormat">Alignement</h5>
      <div class="textFormatButton">
          <mat-button-toggle-group [vertical]="true">
              <mat-button-toggle 
                  class="buttons"
                  (click)="setAlignment('left')">À gauche</mat-button-toggle> <!--[checked]="textService.config.alignmentSetting === textAlignment.Left"-->
              <mat-button-toggle
                  class="buttons"
                  (click)="setAlignment('center')">Au centre</mat-button-toggle> <!--[checked]="textService.config.alignmentSetting === textAlignment.Center"-->
              <mat-button-toggle
                  class="buttons"
                  (click)="setAlignment('right')">À droite</mat-button-toggle> <!--[checked]="textService.config.alignmentSetting === textAlignment.Right"-->
          </mat-button-toggle-group>
      </div>
      <br>
      <mat-form-field class="textFormat" appearance="fill">
          <mat-label>Police</mat-label>
          <mat-select [(value)]="this.textService.config.textFont">
            <mat-option *ngFor="let font of fonts" [value]="font">
              {{font}}
            </mat-option>
          </mat-select>
        </mat-form-field>  
</div>

