.tab {
    width: 190px;
}

.textFormat {
    padding-left: 15px;
    padding-right: 15px;
    width: 160px;
}

.textFormatForSlider {
    padding-left: 15px;
    font-size: small;
}

.buttons {
    width: 150px !important;
}

.buttonGroup {
    width: 75px;
}

.textFormatButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
}
