@font-face {
    src: url(../../../../assets/fonts/PressStart2P-Regular.ttf);
    font-family: pressStart;
}

@font-face {
    src: url(../../../../assets/fonts/Creepster-Regular.ttf);
    font-family: creepster;
}

.mat-button-toggle {
    width: 200px;
    height: 30px;
    background-color: white;
    color: black;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mat-button-toggle-checked {
    background-color: #686370;
    color: white;
    font-size: 15px;
}

.alignmentButton {
    width: 50px !important;
    height: 50px;
    margin-left: 5px;
}

.mat-button-toggle-group {
    border: none;
    border-radius: 4px;
    padding: 0px !important;
    width: 170px;
}

::ng-deep .mat-button-toggle-label-content {
    line-height: 24px !important;
}

.tab {
    width: 190px;
}

.textFormat {
    padding-left: 15px;
    padding-right: 15px;
    width: 160px;
    margin-bottom: 5px;
}

.textFormatForSlider {
    padding-left: 15px;
    font-size: small;
}

.buttons {
    width: 150px !important;
}

.iconButtons {
    width: 50px !important;
}

.buttonTimes {
    width: 150px !important;
    font-family: 'Times New Roman', Times, serif;
}

.buttonMonospace {
    width: 150px !important;
    font-family: monospace;
}

.buttonCreepster {
    width: 150px !important;
    font-family: 'creepster';
}

.buttonPressStart {
    width: 150px !important;
    font-family: 'pressStart';
    font-size: 10px;
}

.boldButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    height: 30px;
    width: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.italicButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    height: 30px;
    width: 40px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textFormatButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    height: 25px;
}

.police {
    margin-top: 10px;
    height: 200px !important;
}
