<div>
    <h5 class="textFormat">Configurations ligne</h5>
    <mat-divider></mat-divider>
    <!--Epaisseur-->
    <h5 class="textFormat">Épaisseur</h5>
    <div class="textFormatForSlider">
        <mat-slider
            id="widthSlider"
            min="1"
            max="100"
            [(ngModel)]="lineService.lineWidth"
            thumbLabel
            [displayWith]="colorSliderLabel">
        </mat-slider>
    </div>
    <mat-form-field class="textFormat">
        <input matInput 
            type="number"
            min="1" max="100" 
            [(ngModel)]="lineService.lineWidth">
        <span matSuffix>px</span>
    </mat-form-field>
    <mat-divider></mat-divider>
    <!--Type de jonction-->
    <h5 class="textFormatButton">Type de jonction</h5>
    <div class="textFormatButton">
        <button mat-raised-button (click)="toggleLineType('normal')">Normal</button>
    </div>
    <div class="textFormatButton">
        <button mat-raised-button (click)="toggleLineType('point')">Avec point</button>
    </div>
    <br/>
    <mat-divider></mat-divider>
    <!--Diametre des points de jonction-->
    <div *ngIf="withJunctionPoint" class="textFormatForJunctionPoint">
        <h5 class="textFormat">Diamètre points de jonction</h5>
        <div class="textFormatForSlider">
            <!--[(ngModel)]="lineService.diameterJunctionPoints"-->
            <mat-slider 
                thumbLabel
                [displayWith]="colorSliderLabel"
                min="this.lineSizeMin"
                max="this.lineSizeMax">
            </mat-slider>
        </div>
        <mat-form-field class="textFormat">
            <input matInput 
            type="number"
            min="1" max="100"> <!--[(ngModel)]="lineService.diameterJunctionPoints"-->
            <span matSuffix>px</span>
        </mat-form-field>
    </div>
</div>
