<div class="tab">
    <mat-divider></mat-divider>

    <h5 class="textFormat">Épaisseur</h5>
    <div class="textFormatForSlider">
        <mat-slider id="widthSlider" min="{{ MIN }}" max="{{ MAX }}" [(ngModel)]="lineService.thickness" thumbLabel [displayWith]="colorSliderLabel">
        </mat-slider>
        {{ lineService.thickness }}px
    </div>
    <mat-divider></mat-divider>

    <h5 class="textFormat">Type de jonction</h5>
    <mat-button-toggle-group vertical="true" name="fontStyle" aria-label="Font Style">
        <div class="textFormatButton">
            <mat-button-toggle [checked]="!lineService.showJunctionPoints" text="Normal" class="buttons" (click)="toggleLineType(false)"
                >Sans jonction</mat-button-toggle
            >
        </div>
        <div class="textFormatButton">
            <mat-button-toggle [checked]="lineService.showJunctionPoints" text="Avec point" class="buttons" (click)="toggleLineType(true)"
                >Avec point</mat-button-toggle
            >
        </div>
    </mat-button-toggle-group>
    <br />
    <mat-divider></mat-divider>

    <div *ngIf="lineService.showJunctionPoints">
        <h5 class="textFormat">Diamètre points de jonction</h5>
        <div class="textFormatForSlider">
            <mat-slider thumbLabel [(ngModel)]="lineService.diameterJunctions" [displayWith]="colorSliderLabel" min="{{ MIN }}" max="{{ MAX }}">
            </mat-slider>
            {{ lineService.diameterJunctions }}px
        </div>
    </div>
</div>
