.mat-button-toggle {
    margin-left: 8px;
    margin-right: 8px;
    width: 200px;
    height: 30px;
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mat-button-toggle-checked {
    background-color: #686370;
    color: #ffffff;
    font-size: 15px;
}

.mat-button-toggle-group {
    border: none;
    border-radius: 4px;
    padding: 0px !important;
    margin-bottom: 10px;
}

::ng-deep .mat-button-toggle-label-content {
  line-height: 24px !important;
}

.tab {
    width: 190px;
}
.buttons {
    width: 150px !important;
}

.textFormat {
    padding-left: 15px;
    padding-right: 15px;
}

.textFormatForSlider {
    padding-left: 8px;
    font-size: small;
}

.textFormatButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    height: 25px;
}

::ng-deep .mat-slider-wrapper {
    padding-left: 0px;
    width: 100px;
    .mat-slider-thumb-container {
        .mat-slider-thumb-label {
            width: 30px;
            height: 30px;
            top: -41px;
            right: -15px;
            .mat-slider-thumb-label-text {
                font-size: x-small;
            }
        }
    }
}
