<div *ngIf="showWarning();" id="background">
  <div id="main">
      <div id="content">
          <h1 class="white" id="title">Attention</h1>
          <h3 class="white" id="text">Êtes-vous sûr? Les changements actuels seront perdus</h3>
          <div class="options">
            <button class="button green white" mat-raised-button (click)="createNewDrawing(true);">Confirmer</button>
            <button class="button red white" mat-raised-button (click)="fadeOut();">Annuler</button>
          </div>
        </div>
  </div>
</div>
