.resize-border {
    border: 1px dotted black;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 2;
}

.resize-box {
    width: 100px;
    height: 100px;
    background-color: black;
}

.resize-control {
    background-color: black;
    z-index: 0;
    width: 10px;
    height: 10px;
    position: absolute;
}

#right {
    cursor: e-resize;
}

#bottom {
    cursor: s-resize;
}

#corner {
    cursor: se-resize;
}

.working-zone {
    background-color: lightgray;
}
