.resize-border{
  border: 1px dotted black;

  //Absolute position to allow the preview to be bigger than the canvas
  //TODO look for a way to fix this
  position: absolute;
  left: 0px;
  right: 0px;
}
