<app-drawing class="drawing-container">
</app-drawing>
<div class="resize-control" id="right"  [ngStyle]="controlRightStyle" (mousedown)="mouseDown(true, false);"></div>
<div class="resize-control" id="bottom" [ngStyle]="controlBottomStyle" (mousedown)="mouseDown(false, true);"></div>
<div class="resize-control" id="corner" [ngStyle]="controlCornerStyle" (mousedown)="mouseDown(true, true);"></div>
<div class="resize-border" [ngStyle]="previewResizeStyle" #previewResize style="visibility: hidden"></div>
