<div id="background-page"></div>

<div *ngIf="showNewDrawingWarning" class="warning-background">
    <div class="main">
        <div class="content warning-content-background">
            <h1 class="white title">Attention</h1>
            <h3 class="white" id="text">Êtes-vous sûr? Les changements actuels seront perdus</h3>
            <div class="options">
                <button class="button green white" mat-raised-button (click)="createNewDrawing()">Confirmer</button>
                <button class="button red white" mat-raised-button (click)="closeNewDrawingWarning()">Annuler</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showComponent" [@fade]="state" (@fade.done)="endOfFadeAnimation()" class="background">
    <div class="main">
        <div class="content">
            <h1 class="white title">Poly Ink.</h1>
            <button class="button" mat-raised-button color="primary" (click)="createNewDrawingOption()">Nouveau dessin</button>
            <button class="button" mat-raised-button color="primary" (click)="openCarrousel()">Carrousel</button>
            <button *ngIf="showContinueDrawing" class="button" mat-raised-button color="primary" (click)="continueDrawing()">
                Continuer un dessin
            </button>
        </div>
        <div>
            <mat-expansion-panel id="team" class="white" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title class="white"> Équipe </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Alexis Foulon <br />
                    Félix-Antoine Constantin <br />
                    Florence Cloutier <br />
                    Gaya Mehenni <br />
                    Mamadu Barri <br />
                    Paul-André Bisson <br />
                </p>
            </mat-expansion-panel>
        </div>
    </div>
</div>
