<div class="tab">
    <div class="textFormatButton">
        <button mat-raised-button (click)="selectAll()">Tout sélectionner</button>
    </div>

    <div *ngIf="isSelectionActive">
        <div class="textFormatButton">
            <button mat-raised-button (click)="copySelection()">Copier</button>
        </div>
        <div class="textFormatButton">
            <button mat-raised-button (click)="cutSelection()">Couper</button>
        </div>
        <div class="textFormatButton">
            <button mat-raised-button (click)="deleteSelection()">Supprimer</button>
        </div>
    </div>
</div>
