<div id="canvas-container">
    <canvas id="previewLayer" #previewCanvas [attr.width]="width" [attr.height]="height" (contextmenu)="$event.preventDefault()"></canvas>
    <canvas
        [ngStyle]="{ visibility: this.gridService.gridVisibility ? 'visible' : 'hidden' }"
        id="grid"
        #grid
        [attr.width]="width"
        [attr.height]="height"
        (contextmenu)="$event.preventDefault()"
    ></canvas>
    <canvas id="canvas" #baseCanvas [attr.width]="width" [attr.height]="height"></canvas>
</div>
