<div *ngIf="this.canShowPopup()" id="background">
    <div id="main">
        <div id="content">
            <h1 class="white" id="title">Exporter le dessins</h1>
            <div class="options">
                <h3 class="white" id="format_text">Format</h3>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="png">
                    <mat-button-toggle id="corner-left" value="png" (change)="changeExportFormat($event.value)">PNG</mat-button-toggle>
                    <mat-button-toggle id="corner-right" value="jpeg" (change)="changeExportFormat($event.value)">JPEG</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <form>
                <mat-form-field>
                    <input matInput [(ngModel)]="filename" name="filename" maxlength="100" />
                    <span matSuffix>{{ '.' + exportFormat }} &nbsp;</span>
                </mat-form-field>
            </form>
            <div class="options">
                <mat-button-toggle-group [value]="currentFilter">
                    <mat-button-toggle id="corner-left" value="no" (change)="changeFilter($event.value)">AUCUN</mat-button-toggle>
                    <mat-button-toggle value="funky" (change)="changeFilter($event.value)">FUNKY</mat-button-toggle>
                    <mat-button-toggle value="spotlight" (change)="changeFilter($event.value)">SPOTLIGHT</mat-button-toggle>
                    <mat-button-toggle value="sepia" (change)="changeFilter($event.value)">SEPIA</mat-button-toggle>
                    <mat-button-toggle value="monochrome" (change)="changeFilter($event.value)">MONOCHROME</mat-button-toggle>
                    <mat-button-toggle id="corner-right" value="negative" (change)="changeFilter($event.value)">NEGATIF</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <canvas #exportPreview id="exportPreview" [attr.width]="this.getPreviewWidth()" [attr.height]="this.getPreviewHeight()"></canvas>
            <div class="options">
                <button class="button green white" mat-raised-button (click)="export()">Confirmer</button>
                <button class="button red white" mat-sraised-button (click)="hidePopup()">Annuler</button>
            </div>
        </div>
    </div>
</div>
