div {
    display: flex;
}

.color-icon {
    justify-content: space-between;
}
.vertical {
    flex-direction: column;
}

.buttons {
    flex-direction: column;
    justify-content: center;
}

.rgb-selector {
    display: flex;
    justify-content: space-around;
}

button {
    margin: 2.5px 5px;
}

:host ::ng-deep mat-divider {
    margin: 5px;
}
