<div>
    <h5 class="textFormat">Configuration ellipse</h5>
    <!--Type de tracé-->
    <mat-divider></mat-divider>
    <h5 class="textFormat">Type de tracé</h5>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="toggleTraceType('Contour')">Contour</button>
    </div>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="toggleTraceType('Plein')">Plein</button>
    </div>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="toggleTraceType('Plein&Contour')">Plein&Contour</button>
    </div>
    <mat-divider></mat-divider>

    <!--Epaisseur-->
    <h5 class="textFormat">Épaisseur</h5>
    <div class="textFormatForSlider">
        <!--[(ngModel)]="ellipseService.lineWidth"-->
        <mat-slider min="1" max="100" thumbLabel [displayWith]="colorSliderLabel"> </mat-slider>
    </div>
    <mat-form-field class="textFormat">
        <input matInput type="number" min="1" max="100" />
        <!--[(ngModel)]="ellipseService.lineWidth">-->
        <span matSuffix>px</span>
    </mat-form-field>
    <mat-divider></mat-divider>
    <app-color-picker></app-color-picker>
</div>
