<div>
    <h5 class="textFormat">Configuration ellipse</h5>
    <!--Type de tracé-->
    <mat-divider></mat-divider>
    <h5 class="textFormat">Type de tracé</h5>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="toggleTraceType(ellipseModeIn.Contour)">Contour</button>
    </div>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="toggleTraceType(ellipseModeIn.Filled)">Plein</button>
    </div>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="toggleTraceType(ellipseModeIn.FilledWithContour)">Plein&Contour</button>
    </div>
    <mat-divider></mat-divider>

    <!--Epaisseur-->
    <h5 class="textFormat">Épaisseur</h5>
    <div class="textFormatForSlider">
        <mat-slider min="1" max="100" [(ngModel)]="ellipseService.contourWidth" thumbLabel [displayWith]="colorSliderLabel"> </mat-slider>
    </div>
    <mat-form-field class="textFormat">
        <input matInput type="number" min="1" max="100" [(ngModel)]="ellipseService.contourWidth" />
        <span matSuffix>px</span>
    </mat-form-field>
    <mat-divider></mat-divider>
</div>
