<div class="tab">
    <h5 class="textFormat">Configuration ellipse</h5>
    <mat-divider></mat-divider>

    <!--Couleur-->
    <h5 class="textFormat">Couleur</h5>
    <app-color-icon></app-color-icon>
    <mat-divider></mat-divider>

    <!--Type de tracé-->
    <h5 class="textFormat">Type de tracé</h5>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="toggleTraceType(ellipseModeIn.Contour)">Contour</button>
    </div>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="toggleTraceType(ellipseModeIn.Filled)">Plein</button>
    </div>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="toggleTraceType(ellipseModeIn.FilledWithContour)">Plein & Contour</button>
    </div>
    <mat-divider></mat-divider>

    <!--Epaisseur-->
    <h5 class="textFormat">Épaisseur</h5>
    <div class="textFormatForSlider">
        <mat-slider min="{{ MIN }}" max="{{ MAX }}" [(ngModel)]="ellipseService.contourWidth" thumbLabel [displayWith]="colorSliderLabel">
        </mat-slider>
        {{ ellipseService.contourWidth }}px
    </div>
    <mat-divider></mat-divider>
</div>
