<div *ngIf="CARROUSEL_URL === currentURL">
    <div style="background-color: lightgray"></div>
</div>

<div *ngIf="newDrawing.showWarning && showCarrousel" id="backgroundAlert">
    <div id="main">
        <div id="content">
            <h1
                class="white"
                style="text-align: center"
                [innerHTML]="
                    'Le canvas actuel n\'est pas vide. Voulez-vous abandonner vos changements et charger ' + drawingsList[currentIndex].name + ' ?'
                "
            ></h1>
            <div class="options">
                <button class="button green white" mat-raised-button (click)="loadDrawing(0)">Charger</button>
                <button class="button red white" mat-raised-button (click)="newDrawing.showWarning = false">Annuler</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showCarrousel" id="background">
    <div id="main">
        <div id="content">
            <h1 class="white" style="text-align: center">Dessins sauvegardés sur le serveur</h1>
            <div class="previewPresentation">
                <button mat-icon-button (click)="clickLeft()">
                    <mat-icon class="white">keyboard_arrow_left</mat-icon>
                </button>
                <div class="canvasDisplay">
                    <div class="previewDisplay" #previewDisplay [@translationState]="translationState" (@translationState.done)="translationDone()">
                        <div class="fiche">
                            <p class="name">{{ overflowLeftElement.name }}</p>
                            <canvas #overflowLeftPreview [attr.width]="CANVAS_PREVIEW_SIZE" [attr.height]="CANVAS_PREVIEW_SIZE"></canvas>
                            <p class="white">TAGS</p>
                            <p class="white">{{ overflowLeftElement.tags }}</p>
                        </div>
                        <div class="fiche">
                            <p class="name">{{ leftElement.name }}</p>
                            <canvas
                                #leftPreview
                                [attr.width]="CANVAS_PREVIEW_SIZE"
                                [attr.height]="CANVAS_PREVIEW_SIZE"
                                (click)="loadDrawing(-1)"
                            ></canvas>
                            <p class="white">TAGS</p>
                            <p class="white">{{ leftElement.tags }}</p>
                        </div>
                        <div class="fiche">
                            <p class="name">{{ middleElement.name }}</p>
                            <canvas
                                #middlePreview
                                [attr.width]="CANVAS_PREVIEW_SIZE"
                                [attr.height]="CANVAS_PREVIEW_SIZE"
                                (click)="loadDrawing(0)"
                            ></canvas>
                            <p class="white">TAGS</p>
                            <p class="white">{{ middleElement.tags }}</p>
                        </div>
                        <div class="fiche">
                            <p class="name">{{ rightElement.name }}</p>
                            <canvas
                                #rightPreview
                                [attr.width]="CANVAS_PREVIEW_SIZE"
                                [attr.height]="CANVAS_PREVIEW_SIZE"
                                (click)="loadDrawing(1)"
                            ></canvas>
                            <p class="white">TAGS</p>
                            <p class="white">{{ rightElement.tags }}</p>
                        </div>
                        <div class="fiche">
                            <p class="name">{{ overflowRightElement.name }}</p>
                            <canvas #overflowRightPreview [attr.width]="CANVAS_PREVIEW_SIZE" [attr.height]="CANVAS_PREVIEW_SIZE"></canvas>
                            <p class="white">TAGS</p>
                            <p class="white">{{ overflowRightElement.tags }}</p>
                        </div>
                    </div>
                </div>
                <button mat-icon-button (click)="clickRight()">
                    <mat-icon class="white">keyboard_arrow_right</mat-icon>
                </button>
            </div>

            <div *ngIf="showLoadingError" style="text-align: center">
                <h3 class="white">Le dessin ne peut pas être chargé</h3>
            </div>

            <div class="options">
                <button class="button green white" mat-raised-button (click)="loadDrawing(0)">Charger</button>
                <button class="button red white" mat-raised-button (click)="deleteDrawing()">Supprimer</button>
                <button class="button red white" mat-raised-button (click)="closeCarrousel()">Annuler</button>
            </div>
        </div>
    </div>
</div>
