#background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#backgroundAlert {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.5);
}

#main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#content {
    background-color: rgb(51, 51, 51);
    flex: 1;
    overflow: hidden;
    padding: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius: 12px;
}

.previewPresentation {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.canvasDisplay {
    display: flex;
    width: 750px;
    overflow: hidden;
}

.previewDisplay {
    display: flex;
    position: relative;
    left: -250px;
}

.arrow {
    top: 316px;
}

.fiche {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    width: 200px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
}

.tag {
    color: white;
    word-break: break-all;
    display: inline-block;
}

mat-chip-list {
    flex: unset;
    pointer-events: none;
    max-height: 200px;
    height: 200px;
}

mat-chip {
    word-break: break-all;
    height: auto;
}

.white {
    color: white;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin: 4px;
    font-size: 24px;
    display: inline-flex;
    border-radius: 12px;
}
