.tab {
    width: 190px;
}

.textFormat {
    padding-left: 15px;
    padding-right: 15px;
}

.textFormatForSlider {
    padding-left: 8px;
    font-size: small;
}

.toggleGrid {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toggleName {
    font-weight: 500;
    margin-right: 70px;
}

h5 {
    margin: 0px;
}
