<div class="toggleGrid">
    <span class="toggleName"> Grille </span>
    <mat-slide-toggle [(ngModel)]="gridService.gridVisibility" ngDefaultControl></mat-slide-toggle>
</div>

<div *ngIf="gridService.gridVisibility" class="tab">
    <br />
    <h5 class="textFormat">Dimensions des carreaux</h5>
    <div class="textFormatForSlider">
        <mat-slider
            min="{{ MIN_SIZE }}"
            max="{{ MAX_SIZE }}"
            step="5"
            (input)="sizeChange($event)"
            [(ngModel)]="gridService.sizeValue"
            [displayWith]="colorSliderLabel"
        >
        </mat-slider>
        {{ gridService.sizeValue }}px
    </div>

    <h5 class="textFormat">Opacité</h5>
    <div class="textFormatForSlider">
        <mat-slider
            min="{{ MIN_TRANSPARENCY }}"
            max="{{ MAX_TRANSPARENCY }}"
            step="5"
            (input)="opacityChange($event)"
            [(ngModel)]="gridService.opacityValue"
            [displayWith]="colorSliderLabel"
        >
        </mat-slider>
        {{ gridService.opacityValue }}%
    </div>
</div>
