.tab {
    width: 190px;
}

.textFormat {
    padding-left: 15px;
    padding-right: 15px;
}

.textFormatForSlider {
    padding-left: 8px;
    font-size: small;
}

::ng-deep .mat-form-field {
    width: 100px;
}

::ng-deep .mat-slider-wrapper {
    padding-left: 0px;
    width: 100px;
    .mat-slider-thumb-container {
        .mat-slider-thumb-label {
            width: 30px;
            height: 30px;
            top: -41px;
            right: -15px;
        }
    }
}

.toggleGrid {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toggleName {
    font-weight: 500;
    margin-right: 60px;
    margin-left: -10px;
}

h5 {
    margin: 0px;
}
