<!--TYPE DE TRACE-->
<mat-dialog-content *ngIf="data === 'Rectangle'">
    <mat-divider></mat-divider>
    <br/>
    <section>
        <div>Type de tracé</div>
        <br/>
        <div class="button-row">
            <button mat-raised-button (click)="changeColor('black')">Contour</button>
            <button mat-raised-button (click)="changeColor('white')">Plein</button>
            <button mat-raised-button (click)="changeColor('grey')">Plein avec contour</button>
        </div>
    </section>
</mat-dialog-content>