<div class="tab">
    <h5 class="textFormat">Mise à l'échelle</h5>
    <div class="textFormatForSlider">
        <mat-slider
            min="{{ MIN_SCALE }}"
            max="{{ MAX_SCALE }}"
            step="0.1"
            [(ngModel)]="stampService.config.scale"
            thumbLabel
            [displayWith]="SliderLabel"
        >
        </mat-slider>
        {{ stampService.config.scale }}x
    </div>

    <mat-divider></mat-divider>

    <h5 class="textFormat">Rotation</h5>
    <div class="rotation-slider">
        <canvas id="angleCanvas" width="100" height="100"></canvas>
        <span id="angleValue" #angleValue>0°</span>
    </div>

    <mat-divider></mat-divider>

    <p class="textFormat">Choix Étampe</p>
    <div class="select-container">
        <mat-select [(value)]="stampService.config.stamp" [disableOptionCentering]="true" (valueChange)="toggleStamp($event)">
            <mat-option [value]="stampMode.Alexis">Alexis</mat-option>
            <mat-option [value]="stampMode.Felix">Felix</mat-option>
            <mat-option [value]="stampMode.Florence">Florence</mat-option>
            <mat-option [value]="stampMode.Gaya">Gaya</mat-option>
            <mat-option [value]="stampMode.Mamadu">Mamadu</mat-option>
        </mat-select>
    </div>
</div>
