.tab {
    width: 190px;
}

.textFormat {
    padding-left: 15px;
    padding-right: 15px;
}

.textFormatForSlider {
    padding-left: 8px;
    font-size: small;
}

.select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mat-select {
    width: 150px;
}

mat-option {
    text-align: center;
}

::ng-deep .mat-slider-wrapper {
    .mat-slider-thumb-container {
        .mat-slider-thumb-label {
            width: 30px;
            height: 30px;
            top: -41px;
            right: -15px;
        }
    }
}

#angleCanvas {
    margin-left: 25px;
}

#angleValue {
    font-size: 25px;
    margin-left: 10px;
    text-align: left;
    font-weight: 600;
    margin-top: 35px;
    position: absolute;
}

.rotation-slider {
    position: relative;
}
