<div>
    <h5 class="textFormat">Configuration rectangle</h5>
    
    <!--Type de tracé-->
    <mat-divider></mat-divider>
    <h5 class="textFormat">Type de tracé</h5>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="traceTypeTest(0)">Contour</button>
    </div>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="traceTypeTest(1)">Plein</button>
    </div>
    <div class="textFormatButton">
        <button mat-raised-button class="buttons" (click)="traceTypeTest(2)">Plein&Contour</button>
    </div>
    <mat-divider></mat-divider>

    <!--Epaisseur-->
    <h5 class="textFormat">Épaisseur</h5>
    <div class="textFormatForSlider">
        <mat-slider
            min="1"
            max="100"
            [(ngModel)]="rectangleService.contourWidth"
            thumbLabel
            [displayWith]="colorSliderLabel">
        </mat-slider>
    </div>
    <mat-form-field class="textFormat">
        <input matInput 
            type="number"
            min="1" max="100"
            [(ngModel)]="rectangleService.contourWidth">
        <span matSuffix>px</span>
    </mat-form-field>
    <mat-divider></mat-divider>
</div>