<h2 mat-dialog-title>Rectangle Configurations</h2>

<!--TYPE DE TRACE-->
<section>
    <div>Type de tracé</div>
    <br/>
    <div class="button-row">
        <button mat-raised-button>Contour</button>
        <button mat-raised-button>Plein</button>
        <button mat-raised-button>Plein avec contour</button>
    </div>
</section>
<br/>
<mat-divider></mat-divider>

<!--SIZE-->
<br/>
<section>
    <div mat-dialog-header>
        Size
    </div> 
    <div>
        <br/>
    </div>
    <div>
        <mat-slider 
            [(ngModel)]="sizeValue"
            thumbLabel
            [displayWith]="colorSliderLabel"
            min="this.lineSizeMin"
            max="this.lineSizeMax">
        </mat-slider>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Manual size input</mat-label>
            <input matInput type="number" [(ngModel)]="sizeValue">
        </mat-form-field>
    </div> 
</section>

