.container {
    height: 100%;
    min-height: 98vh;
    border: 1px solid black;
    background: white;
}

.top-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding-top: 30px;
}

.bottom-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-bottom: auto;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
}

.attributes-tab {
    width: 200px;
    display: flex;
    justify-content: center;
}

.icon-button:hover {
    background: rgba(148, 152, 153, 0.342);
}

.icon-button {
    margin-top: 2px;
    margin-bottom: 2px;
}
