.container {
    height: 100%;
    min-height: 98vh;
    border: 1px solid black;
    background: white;
    margin-right: 5px;
}

.top-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.down-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-bottom: auto;
    position: absolute;
    bottom: 0;
}
