<mat-sidenav-container class="container">
    <mat-sidenav opened mode="side">
        <mat-action-list class="top-sidebar">
            <button class="sidebar-item" mat-icon-button matTooltip="Home" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </button>
            <button class="sidebar-item" mat-icon-button matTooltip="Home" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </button>
            <button class="sidebar-item" mat-icon-button matTooltip="Home" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </button>
            <button class="sidebar-item" mat-icon-button matTooltip="Home" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </button>
            <button class="sidebar-item" mat-icon-button matTooltip="Home" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </button>
        </mat-action-list>

        <mat-action-list class="down-sidebar">
            <button class="sidebar-item" mat-icon-button matTooltip="Home" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </button>
            <button class="sidebar-item" mat-icon-button matTooltip="Home" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </button>
            <button class="sidebar-item" mat-icon-button matTooltip="Home" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </button>
            <button class="sidebar-item" mat-icon-button matTooltip="Home" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </button>
            <button class="sidebar-item" mat-icon-button matTooltip="Home" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </button>
        </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <h3>
            Attributs outil selectionne
        </h3>
    </mat-sidenav-content>
</mat-sidenav-container>
