.tag-list {
    width: 100%;
}

.tag-input {
    -webkit-text-fill-color: white;
}

.filter-title {
    font-size: larger;
}

::ng-deep.mat-focused .mat-form-field-label {
    color: white !important;
}

::ng-deep.mat-form-field-label {
    color: white !important;
}

::ng-deep.mat-form-field-underline {
    background-color: white !important;
}

mat-chip {
    word-break: break-all;
    height: auto;
}

::ng-deep.mat-form-field-ripple {
    background-color: white !important;
}

::ng-deep.mat-form-field-empty.mat-form-field-label {
    color: white;
}
