.tab {
    width: 190px;
}

.mat-flat-button {
    margin-left: 8px;
    margin-right: 8px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
}

.textFormatButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cursor {
    cursor: not-allowed !important;
}
